.page-header
  = link_to groundbaits_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = _("Back")
  = link_to @groundbait, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = _("Show")
  %h1= _("Editing groundbait")

= render 'form'
