.page-header
  = link_to new_bait_type_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Bait type
  %h1 Listing bait_types

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th

    %tbody
      - @bait_types.each do |bait_type|
        %tr
          %td= bait_type.name
          %td
            = link_to 'Show', bait_type
            = link_to 'Edit', edit_bait_type_path(bait_type)
            = link_to 'Destroy', bait_type, data: { confirm: 'Are you sure?' }, method: :delete
