.page-header
  %h1= _("Połowy")
%table.table.table-striped
  %thead
    %tr
      %th= _("Gatunek")
      %th= _('Długość(cm)')
      %th= _('waga(kg)')
      %th
      %th= _('notatka')
      %th= _('Akcje')
  %tbody
    - expedition_fishes.each do |fish|
      %tr
        %td= fish.fish.name
        %td= fish.length
        %td= fish.weight
        %td= fish.bait_id
        %td= fish.notes
        %td
          = link_to _("edit"), edit_expedition_expedition_fish_path(fish.expedition, fish), class: 'btn btn-xs btn-default'
          = link_to _("usuń"), expedition_expedition_fish_path(fish.expedition, fish), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-xs btn-danger'
