= simple_form_for [@expedition, @expedition_fish], :html => { :class => 'form-horizontal' } do |f|
  =# f.input :count
  = f.input :fish_id, collection: Fish.all
  = f.input :length
  = f.input :weight
  = f.input :bait_id, collection: Bait.all
  = f.input :notes
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), expeditions_path, :class => 'btn btn-default'
