= simple_form_for @form, as: :expedition, url: (@form.id ? expedition_path(@form.id) : expeditions_path), method: (@form.id ? :patch : :post) do |f|
  .col-md-6
    = f.input :start_at, as: :datetime_picker, label: _("Rozpoczęcie wędkowania")
    = f.input :end_at, as: :datetime_picker, label: _("Zakończenie wędkowania")
    = f.input :place_id, collection: Place.all, label: _("Łowisko")
  .col-md-6
    = f.input :pressure, label: _("Warunki pogodowe:"), placeholder: _("Ciśnienie")
    = f.input :showers, label: false, placeholder: _("Opady")
    = f.input :overcast, label: false, placeholder: _("Zachmurzenie")
    = f.input :temperature, label: false, placeholder: _("Temperatura")
  .clearfix
  = f.input :notes, as: :ckeditor, label: _("Opis")
  = f.submit _("Zapisz"), class: 'btn btn-primary'
  = link_to _("Anuluj"), expeditions_path, class: 'btn btn-default'
