= simple_form_for @form, as: :expedition, url: (@form.id ? expedition_path(@form.id) : expeditions_path), method: (@form.id ? :patch : :post) do |f|
  .col-md-6
    - accessibility_checked = if @form.private
      - 'private'
    - elsif @form.hide_place
      - 'hide_place'
    - else
      - 'public'
    = f.input :accessibility, collection: [['public', _('Publiczna(dostępna dla wszystkich)')], ['private', _('Prywatna(tylko dla mnie)')], ['hide_place', _("Ukryte łowisko(publiczna z ukrytym łowiskiem)")]], label_method: :last, value_method: :first, as: :radio_buttons, checked: accessibility_checked, label: _("Udostępnienie wyprawy")
    = f.input :start_at, as: :datetime_picker, label: _("Rozpoczęcie wędkowania")
    = f.input :end_at, as: :datetime_picker, label: _("Zakończenie wędkowania")
    = f.input :place_id, collection: Place.all, label: _("Łowisko"), input_html: { class: 'select2'}
  .col-md-6
    %h4= _("Warunki pogodowe:")
    .row
      .col-md-6
        = f.input :pressure, label: _("Ciśnienie(hPa)"), as: :integer, input_html: { min: '950', max: '1060', step: '5' }
      .col-md-6
        = f.input :pressure_type, label: _("Trend"), collection: PressureType.select_options, include_blank: true
    .row
      .col-md-6
        = f.input :temperature, label: _("Temperatura(°C)"), as: :integer, input_html: { min: '-30', max: '40' }
      .col-md-6
        = f.input :water_temperature, label: _("Temperatura wody(°C)"), as: :integer, input_html: { min: '0', max: '30' }
    .row
      .col-md-6
        = f.input :wind_strength, label: _("Siła wiatru(km/h)"), as: :integer, input_html: { min: '0', max: '120', step: '5' }
      .col-md-6
        = f.input :wind_direction, collection: WindDirection.select_options, include_blank: true, label: _("Kierunek wiatru")
    .row
      .col-md-6
        = f.input :showers, label: _("Opady"), collection: Showers.select_options, include_blank: true
      .col-md-6
        = f.input :overcast, label: _("Zachmurzenie"), collection: Overcast.select_options, include_blank: true
  .clearfix
  = f.input :notes, as: :ckeditor, label: _("Opis")
  = f.submit _("Zapisz"), class: 'btn btn-primary'
  = link_to _("Anuluj"), expeditions_path, class: 'btn btn-default'
