= simple_form_for @expedition, :html => { :class => 'form-horizontal' } do |f|
  = f.input :start_at
  = f.input :end_at
  = f.input :place_id, collection: Place.all
  = f.input :notes
  = f.input :pressure
  = f.input :showers
  = f.input :overcast
  = f.input :temperature
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), expeditions_path, :class => 'btn btn-default'
