.page-header
  %h1= _("Expedition")
%table.table.table-striped
  %thead
    %tr
      %th= _("Expedition date")
      %th= _("Place")
      %th= _("Pressure")
      %th= _("Showers")
      %th= _("Overcast")
      %th= _("Temperature")
      %th= _("Actions")
  %tbody
    - @expeditions.each do |expedition|
      %tr
        %td= link_to (l expedition.start_at.to_date, format: :long), expedition_path(expedition)
        %td= expedition.place.name
        %td= expedition.pressure
        %td= expedition.showers
        %td= expedition.overcast
        %td= expedition.temperature
        %td
          = link_to _("edit"), edit_expedition_path(expedition), class: 'btn btn-default btn-xs'
          = link_to _("destroy"), expedition_path(expedition), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-xs btn-danger'

= link_to _("Add"), new_expedition_path, class: 'btn btn-primary'
