.page-header
  %h1= _("Wyprawy")
.row
  .col-md-3
    = link_to _("Dodaj wyprawę"), new_expedition_path, class: 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'start_at', _("Data")
      %th= sortable 'places.name', _("Łowisko")
      %th= _("Ryby")
      %th= _("Ciśnienie(hPa)")
      %th= _("Trend")
      %th= _("Temperatura(°C)")
      %th= _("Temperatura wody(°C)")
      %th= _("Siła wiatru(km/h)")
      %th= _("Kierunek wiatru")
      %th= _("Opady")
      %th= _("Zachmurzenie")
  %tbody
    - @expeditions.each do |expedition|
      %tr
        %td
          %b= link_to (l expedition.start_at.to_date, format: :long), expedition_path(expedition)
          .clearfix
          = link_to _("edytuj"), edit_expedition_path(expedition), class: 'btn btn-default btn-xs'
          = link_to _("usuń"), expedition_path(expedition), method: :delete, data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-xs btn-danger'
        %td= link_to expedition.place.name, expedition.place
        %td
          - expedition.catch_caches.order('count desc').each do |catch_cache|
            %span= "#{catch_cache.fish.name}(#{catch_cache.count}) |"

        %td= expedition.pressure
        %td= expedition.pressure_type.try(:text)
        %td= expedition.temperature
        %td= expedition.water_temperature
        %td= expedition.wind_strength
        %td= expedition.wind_direction.try(:text)
        %td= expedition.showers.try(:text)
        %td= expedition.overcast.try(:text)
