.page-header
  %h1= _("Wyprawy")
.row
  .col-md-3
    = link_to _("Dodaj wyprawę"), new_expedition_path, class: 'btn btn-primary'
  .col-md-9
    = simple_form_for '', url: expeditions_path, method: :get, html: { class: "form-inline" } do |f|
      = f.input :direction, as: :hidden, input_html: { value: params[:direction]}
      = f.input :sort, as: :hidden, input_html: { value: params[:sort]}
      .row
        .col-md-3
          = f.input :start_at_from, as: :datetime_picker, label: _("Wędkowanie od"), input_html: { value: params[:start_at_from]}
        .col-md-3
          = f.input :start_at_to, as: :datetime_picker, label: _("do"), input_html: { value: params[:start_at_to]}
      .row
        .col-md-3
          = f.input :place_id, collection: Place.all, label: _("Łowisko"), selected: params[:place_id], include_blank: true, input_html: { class: 'select2' }
        .col-md-3
          = f.input :fish_ids, collection: Fish.all, label: _("Ryby"), selected: params[:fish_ids], include_blank: true, input_html: { multiple: true, class: 'select2' }
        .col-md-3
          = f.input :user_id, collection: User.all.map { |u| [u.username, u.id] }, label: _("Wędkarz"), selected:  params[:user_id], include_blank: true, input_html: { class: 'select2' }
      .row
        .col-md-3
          = f.input :method_ids, collection: CatchMethod.all, label: _("Metody połowu"), selected: params[:method_ids], include_blank: true, input_html: { multiple: true, class: 'select2' }
        .col-md-3
      = f.submit _("Filtruj"), class: 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'start_at', _("Data")
      %th= sortable 'places.name', _("Łowisko")
      %th= _("Ryby")
      %th= sortable 'users.username', _("Wędkarz")
      %th= _("Metody Połowu")
      %th= _("Ciśnienie(hPa)")
      %th= _("Trend")
      %th= _("Temperatura(°C)")
      %th= _("Temperatura wody(°C)")
      %th= _("Siła wiatru(km/h)")
      %th= _("Kierunek wiatru")
      %th= _("Opady")
      %th= _("Zachmurzenie")
  %tbody
    - @expeditions.each do |expedition|
      %tr
        %td
          %b= link_to (l expedition.start_at.to_date, format: :long), expedition_path(expedition)
          .clearfix
          = link_to _("edytuj"), edit_expedition_path(expedition), class: 'btn btn-default btn-xs'
          = link_to _("usuń"), expedition_path(expedition), method: :delete, data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-xs btn-danger'
        %td= link_to expedition.place.name, expedition.place
        %td
          - @presenter.catch_caches(expedition, params[:method_ids]).each do |catch_cache|
            = "#{catch_cache.fish.name}(#{catch_cache.count})"

        %td= expedition.user.username
        %td
          - @presenter.catch_methods(expedition, params[:method_ids]).each do |method|
            = "#{method.name}"
        %td= expedition.pressure
        %td= expedition.pressure_type.try(:text)
        %td= expedition.temperature
        %td= expedition.water_temperature
        %td= expedition.wind_strength
        %td= expedition.wind_direction.try(:text)
        %td= expedition.showers.try(:text)
        %td= expedition.overcast.try(:text)
