.page-header
  %h1= _("Expedition")
%p
  %strong= _("expedition start:")
  = l @expedition.start_at, format: :long if @expedition.start_at
%p
  %strong= _("expedition end:")
  = l @expedition.end_at, format: :long if @expedition.end_at
%p
  %strong= _("Place:")
  = @expedition.place.name
%p
  %strong= _("notes:")
  %br
  = @expedition.notes


= link_to _("Add fish"), new_expedition_expedition_fish_path(@expedition), class: 'btn btn-default'
= link_to _("back"), expeditions_path, class: 'btn btn-default'
= link_to _("edit"), edit_expedition_path(@expedition), class: 'btn btn-default'
= link_to _("destroy"), expedition_path(@expedition), method: "delete", data: { confirm: _('Are you sure?') }, class: 'btn btn-danger'

= render 'expedition_fishes/list', expedition_fishes: @expedition.expedition_fishes
= link_to _("Add fish"), new_expedition_expedition_fish_path(@expedition), class: 'btn btn-primary'