.page-header
  %h1= _("Wyprawa")
.row
  .col-md-6
    %p
      %strong= _("Rozpoczęcie wędkowania:")
      = l @expedition.start_at, format: :long if @expedition.start_at
    %p
      %strong= _("Zakończenie wędkowania:")
      = l @expedition.end_at, format: :long if @expedition.end_at
    %p
      %strong= _("Łowisko:")
      = link_to @expedition.place.name, @expedition.place
  .col-md-6
    .row
      .col-md-6
        %b=_("Ciśnienie")
        = @expedition.pressure
        hPa
      .col-md-6
        %b=_("Trend")
        = @expedition.pressure_type.text
    .row
      .col-md-6
        %b=_("Temperatura")
        = @expedition.temperature
        °C
      .col-md-6
        %b=_("Temperatura wody")
        = @expedition.water_temperature
        °C
    .row
      .col-md-6
        %b=_("Siła wiatru")
        = @expedition.wind_strength
        km/h
      .col-md-6
        %b=_("Kierunek wiatru")
        = @expedition.wind_direction.text
    .row
      .col-md-6
        %b=_("Opady")
        = @expedition.showers.text
      .col-md-6
        %b=_("Zachmurzenie")
        = @expedition.overcast.text
%p
  %strong= _("Opis:")
  %br
  = @expedition.notes.html_safe


= link_to _("Dodaj ryby"), new_expedition_expedition_fish_path(@expedition), class: 'btn btn-default'
= link_to _("cofnij"), expeditions_path, class: 'btn btn-default'
= link_to _("edytuj"), edit_expedition_path(@expedition), class: 'btn btn-default'
= link_to _("usuń"), expedition_path(@expedition), method: "delete", data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-danger'

= render 'expedition_fishes/catch_caches', expedition_fishes: @expedition.catch_caches

= render 'expedition_fishes/list', expedition_fishes: @expedition_fishes
= link_to _("Dodaj ryby"), new_expedition_expedition_fish_path(@expedition), class: 'btn btn-primary'
