.page-header
  = link_to catch_methods_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = _("cofnij")
  = link_to @catch_method, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
  %h1= _("Edycja metody połowu")

= render 'form'
