- set_var 'place', @place.to_json
.page-header
  %h1= @place.name

%p
  %strong= _("Place type:")
  = @place.place_type
%p
  %strong= _("name:")
  = @place.name
%p
  %strong= _("address:")
  #map{:style => "width: 1000px; height: 500px;"}
%p
  %strong= _("notes:")
  %br
  = @place.notes

= link_to _("back"), places_path, class: 'btn btn-default'
= link_to _("edit"), edit_place_path(@place), class: 'btn btn-default'
= link_to _("destroy"), place_path(@place), method: "delete", data: { confirm: _('Are you sure?') }, class: 'btn btn-danger'

= render 'expedition_fishes/list', expedition_fishes: @place.expedition_fishes