- set_var 'place', @place.to_json
.page-header
  %h1= @place.name

.col-md-6
  %p
    %strong= _("Typ łowiska:")
    = @place.place_type.text
  %p
    %strong= _("Rodzaj wody:")
    = @place.water_type.text
  %p
    %strong= _("Opis:")
    %br
    = @place.notes.html_safe
  = link_to _("cofnij"), places_path, class: 'btn btn-default'
  - if can? :update, @place
    = link_to _("edytuj"), edit_place_path(@place), class: 'btn btn-default'
  - if can? :destroy, @place
    = link_to _("usuń"), place_path(@place), method: "delete", data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-danger'
.col-md-6
  %p
    %strong= _("Adres:")
    #map{:style => "width: 800px; height: 500px;"}


= render 'fishes'
