.page-header
  %h1= _("Ryby")
.row
  .col-md-6
    - if can? :create, Fish
      = link_to _("Dodaj rybę"), new_fish_path, class: 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= _("Nazwa")
      %th= _("Gatunek")
      %th= _("Akcje")
  %tbody
    - @fish.each do |fish|
      %tr
        %td= link_to fish.name, fish_path(fish)
        %td= fish.fish_type.text
        %td
          - if can? :update, fish
            = link_to _("edytuj"), edit_fish_path(fish), class: 'btn btn-default btn-xs'
          - if can? :destroy, fish
            = link_to _("usuń"), fish_path(fish), method: :delete, data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-xs btn-danger'

