.page-header
  %h1= _("Fishes")
%table.table.table-striped
  %thead
    %tr
      %th= _("name")
      %th= _("description")
      %th= _("actions")
  %tbody
    - @fish.each do |fish|
      %tr
        %td= link_to fish.name, fish_path(fish)
        %td= fish.description
        %td
          = link_to _("edit"), edit_fish_path(fish), class: 'btn btn-default btn-xs'
          = link_to _("destroy"), fish_path(fish), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-xs btn-danger'

= link_to _("Add fish"), new_fish_path, class: 'btn btn-primary'
