.page-header
  %h1= @fish.name

%p
  %strong= _("name:")
  = @fish.name
%p
  %strong= _("description:")
  %br
  = @fish.description


= link_to _("cofnij"), fish_index_path, class: 'btn btn-default'
= link_to _("edytuj"), edit_fish_path(@fish), class: 'btn btn-default'
= link_to _("usuń"), fish_path(@fish), method: "delete", data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-danger'
