.page-header
  %h1= @fish.name

%p
  %strong= _("Nazwa:")
  = @fish.name
%p
  %strong= _("Opis:")
  %br
  = @fish.description.html_safe


= link_to _("cofnij"), fish_index_path, class: 'btn btn-default'
- if can? :update, @fish
  = link_to _("edytuj"), edit_fish_path(@fish), class: 'btn btn-default'
- if can? :destroy, @fish
  = link_to _("usuń"), fish_path(@fish), method: "delete", data: { confirm: _("Czy jesteś pewien?") }, class: 'btn btn-danger'
