.page-header
  %h1= @fish.name

%p
  %strong= _("name:")
  = @fish.name
%p
  %strong= _("description:")
  %br
  = @fish.description


= link_to _("back"), fish_index_path, class: 'btn btn-default'
= link_to _("edit"), edit_fish_path(@fish), class: 'btn btn-default'
= link_to _("destroy"), fish_path(@fish), method: "delete", data: { confirm: _('Are you sure?') }, class: 'btn btn-danger'
